* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 150px;
}

.header {
    width: 100%;
    height: 202px;
    text-align: right;
}

p {
    margin: 5px auto;
}

h1 {
    margin: 20px 0px;
}

h2 {
    margin: 20px 0px;
}

.main {
    text-align: left;
    width: 100%;
}

ul {
    margin: 0px 50px;
}

ol {
    margin: 0px 50px;
}

.first {
    margin: 0px 0px 0px 30px;
}

.second {
    margin: 0px 0px 0px 30px;
}

.three {
    margin: 0px 0px 0px 30px;
}